baseURL = 'https://americanmonk.org/'
languageCode = 'en-us'
title = 'American Monk'
theme = 'ananke'
publishDir = 'docs'
[params.ananke.social]

  [params.ananke.social.networks]
  facebook = { label = "Facebook", icon = "facebook", profile = "https://facebook.com/%s" }
  youtube  = { label = "YouTube",  icon = "youtube",  profile = "https://youtube.com/%s" }
  github   = { label = "GitHub",   icon = "github",   profile = "https://github.com/%s" }
  twitter  = { label = "Twitter",  icon = "twitter",  profile = "https://twitter.com/%s" }

  [params.ananke.social.follow]
  networks = ["facebook", "youtube", "github", "twitter"]

  [params.ananke.social.facebook]
  username = "bhante.subhuti.1"
  [params.ananke.social.youtube]
  username = "@BhanteSubhuti"
  [params.ananke.social.github]
  username = "bksubhuti"
  [params.ananke.social.twitter]
  username = "GoHugoIO"

googleAnalytics = "G-ES5VJRZTGT"
environment = "production"

#paginate = 300 # this is set low for demonstrating with dummy content. Set to a higher number
enableRobotsTXT = true

[outputs]
  home = ['html', 'rss']          # Generates HTML and RSS for the homepage
  section = ['html', 'rss']       # Generates HTML and RSS for sections (e.g., /blog/)
  taxonomy = ['html', 'rss']      # Generates HTML and RSS for all taxonomies (e.g., /tags/ and /categories/)
  term = ['html', 'rss']          # Generates HTML and RSS for individual terms (e.g., /tags/example/ or /categories/news/)

[taxonomies]
  tag = "tags"                    # Defines the "tag" taxonomy with URLs under /tags/
  category = "categories"         # Defines the "category" taxonomy with URLs under /categories/


[permalinks]
  posts = "/:filename/"


[sitemap]
  changefreq = 'weekly'
  priority = 0.5
  filename = 'sitemap.xml'

# [services]
#   [services.disqus]
#     shortname = 'americanmonk-org'


[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true  # Allows HTML in Markdown files


[params]
  paginate = 300
  text_color = ""
  author = ""
  favicon = ""
  site_logo = ""
  env = "production"
  production = true # Set to false for development or testing environments
  public = true # Set to false if the site should not be indexed
  private = false
  description = "(desk)Life with Buddha, Dhamma, Saá¹…gha "
  # choose a background color from any on this page: http://tachyons.io/docs/themes/skins/ and preface it with "bg-"
  background_color_class = 'bg-maroon'
  recent_posts_number = 100

[[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1
[[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 2
[[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 3
[[menu.main]]
    identifier = "Videos"
    name = "Videos"
    url = "/youtube/"
    weight = 3
[[menu.main]]
    name = "Subscribe"
    identifier = "Subscribe"
    url = "/subscribe/"
    weight = 4
[[menu.main]]
    name = "Search"
    identifier = "Search"
    url = "/search/"
    weight = 5

[related]
threshold = 0
includeNewer = true
toLower = true

[[related.indices]]
name = "tags"
weight = 100

[[related.indices]]
name = "categories"
weight = 80

[[related.indices]]
name = "keywords"
weight = 30
