/* custom.css */
/* static/css/custom.css */
.bg-maroon {
    background-color: #430909;
    /* Replace with your chosen maroon hex code */
}

figure {
    margin: 0;
}

.standard-image-size img {
    width: 100%;
    /* or any specific width you want */
    height: auto;
    margin: 0;
}

.gcse-search {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}