{{ define "main" }}

  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
      <h1>{{ .Title }}</h1>
    </div>
  </article>

  <div class="mw8 center">

    {{ $posts := where .Pages "Section" "posts" }}
    {{ $sorted := sort $posts "Date" "desc" }}

    <section class="flex-ns mt5 flex-wrap justify-around">
      {{ range $sorted }}
        <div class="w-100 mb4 relative bg-white">
          {{ .Render "summary-with-image" }}
        </div>
      {{ end }}
    </section>

  </div>

{{ end }}
