<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l center items-center justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white white-90 dib no-underline">
      {{ with .Site.Params.site_logo }}
        <img src="{{ urls.RelURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center">
      {{ partials.Include "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="{{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-white white-90 no-underline{{ if eq .Identifier "Search" }} search-trigger-btn{{ end }}" href="{{ .URL }}" title="{{ lang.Translate "pageTitle" . }}">
              {{ if eq .Identifier "Search" }}
                <svg class="dib" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle; width: 1.25rem; height: 1.25rem; margin-top: -3px;" aria-label="Search">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
              {{ else }}
                {{ .Name }}
              {{ end }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partials.IncludeCached "social/follow.html" . }}
    </div>
  </div>
</nav>
