{{ $src := .Get "src" }}
{{ $cleanSrc := strings.TrimPrefix "/" $src }}
{{ $image := resources.Get $cleanSrc }}
{{ if not $image }}
  {{ $image = resources.Get $src }}
{{ end }}
{{ if $image }}
  {{ if eq $image.MediaType.SubType "svg" }}
    <img src="{{ $image.RelPermalink }}" alt="{{ .Get "alt" | default "" }}" class="fancy-img" loading="lazy" decoding="async">
  {{ else }}
    {{ $resized := $image.Resize "800x webp q85" }}
    <img src="{{ $resized.RelPermalink }}" data-zoom-src="{{ $image.RelPermalink }}" alt="{{ .Get "alt" | default "" }}" class="fancy-img" width="{{ $resized.Width }}" height="{{ $resized.Height }}" loading="lazy" decoding="async">
  {{ end }}
{{ else }}
  <img src="{{ $src | relURL }}" alt="{{ .Get "alt" | default "" }}" class="fancy-img" loading="lazy" decoding="async">
{{ end }}