{{ define "main" }}

<article class="pa3 pa4-ns mw8 center">

  <h1 class="f2 fw6 mb4">Publications</h1>

  {{/* Get all posts in the posts section */}}
  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ $publication := where $posts "Params.publication" true }}
  {{ $publication := sort $publication "Date" "desc" }}

  {{ if gt (len $publication) 0 }}

    <section class="flex-ns flex-wrap">
      {{ range $publication }}
        <div class="w-100 mb4 bg-white">
          {{ .Render "summary-with-image" }}
        </div>
      {{ end }}
    </section>

  {{ else }}

    <p class="f5 mid-gray lh-copy">
      Publication section coming soon.
      Please check back later for hand-picked posts.
    </p>

  {{ end }}

</article>

{{ end }}
